@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Roboto';
}

body{
    width:100vw;
    height:100vh;
    overflow:hidden;
}
header{
    position:fixed;
    height:14vh;
    width:100vw;
    color:white;
    background-color:black;
    display:grid;
    place-items:center;
}
main{
    position:fixed;
    height:86vh;
    top:10vh;
    padding:2rem;
}
#saveButton{
    font-weight:bold;
    padding:.3rem;
}
